@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #1e1f23;
  overflow-x: hidden;
}

.sidebar {
  width: 90px;
  height: 100vh;
  background: #17181c;

  padding: 10px;
  position: absolute;
  left: 0;
  display: grid;
  grid-template-rows: 20% 40% 35%;
  overflow: hidden;
  transition: all 0.3s ease-out 0.3s;
  p {
    font-size: 14px;
  }

  .logo {
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top: 5px;
  }

  .menu-item {
    &:hover {
      .icon svg path {
        color: #fff;
        transition: 0.5s linear;
      }
      .icon::before {
        background: rgba(255, 255, 255, 0.5);
        transition: 0.6s ease;
      }
    }
    .icon {
      font-size: 22px;
      color: #fff;
      position: absolute;
      left: calc(45px - 11px);
      transition: 0.5s linear;
      &::before {
        position: absolute;
        content: "";
        width: 80px;
        height: 40px;
        left: -29px;
        top: -7px;
        border-radius: 12px;
        transition: 0.3s all;
      }

      svg path {
        fill: hsl(0deg 0% 100% / 70%);
      }
    }
  }
}

.content {
  margin-left: 90px;

  .roomContainer {
    display: flex;
    height: 100%;
  }

  .videoContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    .vmContainer {
      height: 100%;
      max-height: calc(100% - 124px);
      position: relative;
      overflow: hidden;
      overflow: clip;
      background: #000;
      height: 100vh;
    }
  }

  .chat {
    width: 400px;
    padding-top: 72px;
    background: #25272f;
    .textChat {
      position: relative;
      display: flex;
      flex-direction: column;
      .messageList {
        display: flex;
        flex: 1 1 0;
        flex-direction: column;
        padding: 10px 0 26px;
        overflow-x: hidden;
        .message {
          padding: 3px 3px 4px 5px;
          color: #fff;

          &:hover {
            background-color: hsla(0, 0%, 100%, 0.08);
          }

          img {
            position: absolute;
            left: 10px;
            z-index: 100;
            border-radius: 50%;
            width: 44px;
            height: 44px;
          }
          .usernameContainer {
            margin-left: 64px;
            .time {
              display: inline-block;
              color: var(--hb-on-bg-secondary);
              font-weight: 500;
              font-size: 12px;
            }
            .username {
              display: inline;
              float: left;
              max-width: calc(100% - 52px);
              margin-right: 4px;
              overflow: hidden;
              font-size: 16px;
              white-space: nowrap;
              text-overflow: ellipsis;
              color: rgb(168, 136, 255);
            }
          }
          .messageContent {
            padding-left: 64px;
            .text {
              display: inline-block;
              line-height: 1.4;
              white-space: pre-wrap;
              word-break: break-word;
              overflow-wrap: break-word;
            }
          }
        }
      }

      .messageInput {
        background: #161616;
        height: 90px;
        padding: 10px;
        textarea {
          border: 0;
          background: none;
          resize: none;
          outline: 0;
          overflow: hidden;
          color: #fff;
          width: 75%;
          height: 100%;
        }
      }
    }
  }
}

.flex {
  display: flex;
  height: calc(100%);
}
