.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7777;
  background-color: rgba(20, 20, 20, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modalContainer {
    color: #fff;
    transform: scale(1);
    -webkit-transform: scale(1);
    min-width: 600px;
    min-height: 500px;
    background: #1c1c1c;
    border-radius: 10px;

    .closeButton {
      position: absolute;
      top: 24px;
      right: 24px;
      z-index: 200;
      width: 32px;
      height: 32px;
      padding: 0;
      background: none !important;
      cursor: pointer;
      border: 0;

      svg {
        fill: #6b6b6b;
      }
    }
  }
}

.modalContent {
  padding: 30px;

  h3 {
    color: hsla(0, 0%, 100%, 0.66);
  }
}

.profileContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  span {
    margin-left: 20px;
    width: 80%;
  }

  .otherButton {
    border: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding: 0;
    background: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 30px;
      height: 30px;

      path {
        fill: hsla(0, 0%, 100%, 0.66);
      }
    }

    &:hover {
      background-color: hsla(0, 0%, 100%, 0.08);
    }
  }
}


.logoutButton {
  display: flex;
  width: 100%;
  margin-top: 300px;
  background: hsla(0, 0%, 100%, 0.08);
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 5px;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: hsla(0, 0%, 100%, 0.16);
  }

}

.backButton {
  position: absolute;
  left: 24px;
  z-index: 200;
  width: 32px;
  height: 32px;
  padding: 0;
  background: none !important;
  cursor: pointer;
  border: 0;

  svg {
    fill: #6b6b6b;
  }
}

.iconList {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: flex-start;
  width: 100%;


  .selectIcon {
    border-radius: 100%;
    height: 64px;
    width: 64px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    margin:0 5px;
    img {
      width: 60px;
      height: 60px;
      border-radius: 100%;

    }

    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      background: #fff;


    }
  }
}

#contentModal-2 {
  span {
    display: block;
    margin: 20px 0;

    color: #dfdfdf;
  }
}